<header>
    <p id='currentlyPlayingHeader' class='headerText'>Coming Soon to a theater near you</p>
    <a id='backToListLink' href="/" class='hidden headerText link'>Back to Movie List</a>
</header>
